@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
    --primary-color: rgb(108, 142, 150);
    --primary-color-darker: rgb(9, 48, 56);
}

* { 
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: #4d3252;
}
body {
    background: #dde1e7;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94, 104, 121, 0.288);
    border-radius: 3px;
}

.titulo {

    display: center;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
    
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    border-radius: 3px;
     padding: 15px;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94, 104, 121, 0.288);

}

form button:hover {
    background: rgba(40, 43, 49, 0.288);
}


.paragrafo-resultado, .bad {
    background: rgb(109, 255, 182);
    padding: 10px 20px;
    
    box-shadow: -3px -3px 7px #ffffff73,
                3px 3px 5px rgba(94, 104, 121, 0.288);
    border-radius: 3px;
}

.bad {
 background: rgb(255, 150, 150);   
}